.container {
  max-width: 100vw;
  height: 100vh;
  padding: 1rem;
}

.hero {
  background-image: url('assets/westeros-map.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(5, 10rem);
  grid-template-rows: repeat(3, 10rem);
  gap: 1rem;
}

.card-img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  object-position: top;
  cursor: pointer;
}

.gameover {
  color: white;
}

.score {
  font-size: 2rem;
  margin: 2rem 0;
}